# Install dependencies
npm install

# For development
npm start

# For iOS emulator/simulator
npm run ios

# For Android emulator
npm run android

# For building with EAS
npm run eas-build

# For submitting to App Store
npm run eas-submit
